.idea
.DS_Store
.env

chain/bankContracts/node_modules
chain/landSC/node_modules
chain/bankContracts/build
chain/landSC/build

backend/node_modules
backend/.env
backend/.nyc_output
backend/coverage

frontend/node_modules
